@*PaletaMultiple/Index*@

@section scripts
{    
    <script src="~/Scripts/vistas/papeleta_multiple.js"></script>
}
@{
    ViewBag.Title = "Papeleta Múltiple";
}
<h1 class="text-primary font-weight-bold mb-4"><i class="far fa-list-alt"></i> Papeleta Múltiple</h1>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs pull-right" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1">Listado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Registro</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                            @*<div class="card bg-light pt-2 col-12 col-lg-12 col-xxl-12 ">*@
                            <div class="card bg-light">
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="form-group col-6 mb-4">
                                                <label class="col-form-label text-left font-weight-bold" for="txtShipName">Nro. Papeleta</label>
                                                <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="Ship Name">
                                            </div>
                                            <div class="form-group col-6 mb-4">
                                                <label class="col-form-label text-left font-weight-bold" for="txtShipName">Nom/Ape</label>
                                                <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="Ship Name">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" tabindex="13"><i class="fas fa-search"></i> Buscar</button>
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-12 col-xxl-12">
                                    <div class="card bg-light">
                                        <div class="card-body">
                                            <table id="tblPapeletaMultiple" class="table table-striped" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th></th> <!--Checkbox-->
                                                        <th>Número de Papeleta</th>
                                                        <th>Grado</th>
                                                        <th>Especialidad</th>
                                                        <th>Apellidos y Nombres</th>
                                                        <th>Departamento</th>
                                                        <th>Fecha de Registro</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*</div>*@
                        </div>
                        <div class="tab-pane fade" id="tab-2" role="tabpanel">
                            @*<div class="card bg-light pt-2 col-12 col-lg-12 col-xxl-12 ">*@
                            <form>
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">CIP:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="CIP">
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">Grado y Nombre:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="Grado y Nombre" readonly>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">CIP:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="CIP" readonly>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">Departamento:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="Departamento" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <!--#region Combo Tipo de Condición -->
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="cmbPeriodo" class="col-form-label text-left font-weight-bold">Tipo de Condición</label>
                                                    <select class="form-control" id="cmbPeriodo" name="validation-select">
                                                        <option value>Seleccione...</option>
                                                        <optgroup label="Climbing">
                                                            <option value="pitons">Pitons</option>
                                                            <option value="cams">Cams</option>
                                                            <option value="nuts">Nuts</option>
                                                            <option value="bolts">Bolts</option>
                                                            <option value="stoppers">Stoppers</option>
                                                            <option value="sling">Sling</option>
                                                        </optgroup>
                                                        <optgroup label="Skiing">
                                                            <option value="skis">Skis</option>
                                                            <option value="skins">Skins</option>
                                                            <option value="poles">Poles</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--#endregion -->
                                        <hr />
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">CIP:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="CIP">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">Grado y Nombre:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="Grado y Nombre" readonly>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">Cubrir el día:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="CIP" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">CIP:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="CIP">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">Grado y Nombre:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="Grado y Nombre" readonly>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">Cubrir el día:</label>
                                                    <input type="text" class="col-lg-12 form-control" id="txtShipName" tabindex="6" placeholder="CIP" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="col-form-label text-left font-weight-bold" for="txtShipName">Motivo:</label>
                                                    <textarea class="form-control" placeholder="Motivo" rows="5" tabindex=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target="#centeredModalSuccess" tabindex="13"><i class="far fa-save"></i> Registrar PM</button>
                                        <button type="submit" class="btn btn-danger text-right" tabindex="13"><i class="fas fa-power-off"></i> Cancelar</button>
                                        <!--#region Modal de confirmación de registro de paleta múltiple -->
                                        <div class="modal fade" id="centeredModalSuccess" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title font-weight-bold">Confirmación</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body m-3 text-center">
                                                        <p class="mb-0">¿Esta seguro de registrar esta papeleta múltiple?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success" data-dismiss="modal">Si</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--#endregion -->
                                    </div>
                                </div>
                            </form>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>