@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/datatables_checkboxes/dataTables.checkboxes.css" rel="stylesheet" />
</head>
<body>

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Especialidad</th>
                <th>FechaRegistro</th>
                <th>Grado</th>
                <th>IdPersonal</th>
                <th>NombreCompleto</th>
                <th>NumeroPapeleta</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Especialidad</th>
                <th>FechaRegistro</th>
                <th>Grado</th>
                <th>IdPersonal</th>
                <th>NombreCompleto</th>
                <th>NumeroPapeleta</th>
            </tr>
        </tfoot>
    </table>

    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables_checkboxes/dataTables.checkboxes.min.js"></script>
    <script src="~/Scripts/vistas/index.js"></script>
</body>
</html>
